html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #252829;
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #eee;
}
.containerWithBgImage {
  background-image: url("images/bgImage.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.containerBg {
  background-image: none;
}

.myProfileContainer,
.postATweet,
.tweet,
.logInBtnContainer {
  background-color: #f2f6f8;
  filter: drop-shadow(0 0 0.1rem #91cbef);
}
.postATweet,
.myProfileContainer {
  filter: drop-shadow(0 0 0.2rem #91cbef);
}
.twitter_logo {
  color: #1da1f2;
  font-size: 2.5rem;
  margin: 0.5rem;
  filter: drop-shadow(0 0 0.1rem #91cbef);
}
.twitter_logo_contain {
  display: flex;
  align-items: center;
}
.twitter_logo_contain a {
  padding: 0.2rem;
  border-radius: 50%;
}
.twitter_logo_contain a:hover {
  background-color: white;
}
header input {
  filter: drop-shadow(0 0 0.15rem #91cbef);
}
input,
textarea {
  background-color: #dcdcdd;
  padding: 0.8rem 7rem 0.4rem 1rem;
  border-radius: 20px;
  border: none;
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
  margin: 0.5rem;
  height: 1.2rem;
  resize: none;
}

textarea {
  font-size: 15px;
  letter-spacing: 0.1mm;
}
input::placeholder,
textarea::placeholder {
  color: rgb(48, 48, 48);
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
  padding-top: 5px;
  font-size: 14px;
}
input:focus,
textarea:focus {
  border: none;
  outline: none;
  background-color: #e0e0ea;
  outline: 1px solid #1da1f2;
}
header {
  /* margin: 0.7rem 0 0 16rem; */
  display: none;
  align-items: center;
  display: none;
  justify-content: flex-start;
  padding: 0.3rem 10rem;
}
section {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  /* margin: 2rem; */
  justify-content: center;
}
.profile_bg {
  background-color: #42aced;
  width: 18rem;
  height: 8rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.profileImgContain {
  display: flex;
}
.myProfileContainer {
  width: 18rem;
  height: 20rem;
  border-radius: 7px;
  margin-top: 2rem;
  display: none;
}
.logInBtnContainer {
  border-radius: 7px;
  display: none;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  display: flex;
  margin-left: 52rem;
  margin-top: 3rem;
  width: 27rem;
  height: 20rem;
  background-color: #f0f0f0;
  color: #252829;
  display: none;
}
.profileImg {
  background-color: white;
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 50%;
  margin-top: -2.5rem;
}
.myProfileContainer h3 {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.03cm;
  margin: 0.8rem 0 0.4rem 0;
  color: #252829;
}
.myProfileContainer p {
  text-align: center;
  margin: 0.7rem;
  color: #252829;
  font-size: 0.85rem;
}
.addTweetsContainer {
  width: 40rem;
  margin-top: 2rem;
  display: none;
}
.profileImgTweet {
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
.postTweet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5rem;
}
.postATweet {
  padding: 1rem 2rem;
  border-radius: 7px;
}
.tweet {
  margin-top: 1.5rem;
  border-radius: 7px;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  align-items: center;
}
.tweetContent {
  margin-left: 4rem;
  /* color: #f5f5f5; */
  color: #252829;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  grid-area: 2 / 1 / 2 / span 3;
}
.tweetContent p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1mm;
}
.currentDateTime {
  margin-left: auto;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.postTweet textarea {
  width: 22em;
  height: 1.8rem;
  border-radius: 26px;
}
.addTweet {
  padding: 0.6rem 1rem;
  background-color: #1da1f2;
  border: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  transition: color 0.6s ease-out;
}
.addTweet:hover {
  background-color: #34a6ed;
}
.error_msgInput {
  border: 1px solid #ed2424;
}

.error_msg {
  color: #ed2424;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  display: none;
}

.tweetBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}
.tweetUserName {
  font-weight: 550;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.tweetUserName:hover {
  text-decoration: underline;
  text-decoration-color: #252829;
  text-decoration-thickness: 1px;
  cursor: pointer;
}
.userName {
  margin-top: 8px;
  font-weight: 550;
  font-size: 19px;
  color: black;
}
.userName:hover {
  text-decoration: none;
}
.googleLogo {
  display: block;
  width: 23px;
}
.logInBtnContainer button {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 13px 55px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  background-color: #c4ccd5;
  margin: 1rem auto;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #252829;
  outline: none;
  border: none;
  transition: color 1s ease-in;
}
header a {
  cursor: pointer;
}
.logInBtnContainer button:hover {
  background-color: #dde1e4;
  outline: 0.5px solid rgb(129, 127, 127);
}

.logInBtnContainer p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.logInBtnContainer h3 {
  font-size: 1.4rem;
}
.lodingTweets {
  font-family: "Roboto", sans-serif;
  display: block;
  margin-top: 1rem;
  height: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.3rem;
  background-color: #dcdcdd;
  border-radius: 2px;
}
.logoutBtn {
  display: flex;
  padding: 8px 28px;
  border-radius: 22px;
  font-family: "Roboto", sans-serif;
  background-color: #1da1f2;
  margin: 1rem auto;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.6s ease-out;
}
.logoutBtn:hover {
  background-color: #34a6ed;
}
.user_header_profile {
  display: none;
  align-items: center;
}
.header_profileImg {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  header {
    padding: 0.3rem 8rem;
  }
  .myProfileContainer {
    width: 16rem;
    height: 18rem;
  }
  .profile_bg {
    width: 16rem;
    height: 7rem;
  }
  .myProfileContainer h3 {
    font-size: 1rem;
  }
  .myProfileContainer p {
    margin: 0.75rem;
    font-size: 0.75rem;
  }
  .addTweetsContainer {
    width: 37rem;
  }
  .profileImgTweet {
    width: 2.5rem;
    height: 2.5rem;
  }
  .postTweet textarea {
    width: 19rem;
    height: 1.6rem;
  }
  input,
  textarea {
    font-size: 13px;
    padding: 0.5rem 7rem 0.5rem 1rem;
  }
  .postTweet {
    margin-bottom: 1.2rem;
  }
  .logInBtnContainer {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1080px) {
  header {
    padding: 0.3rem 6rem;
  }
}

@media only screen and (max-width: 992px) {
  header {
    padding: 0.3rem 4rem;
  }
  .myProfileContainer {
    width: 13rem;
    height: 15rem;
    margin-top: 2rem;
  }
  .profile_bg {
    width: 13rem;
    height: 5rem;
  }
  .logoutBtn {
    padding: 8px 24px;
    font-size: 12px;
  }
  .addTweet {
    padding: 0.6rem 0.8rem;
    font-size: 12px;
  }
  .myProfileContainer h3 {
    font-size: 0.85rem;
  }
  .myProfileContainer p {
    margin: 0.6rem;
    font-size: 0.65rem;
  }
  .addTweetsContainer {
    width: 32rem;
  }
  .profileImgTweet {
    width: 2rem;
    height: 2rem;
  }
  .postTweet textarea {
    width: 17rem;
    height: 1.5rem;
  }
  input,
  textarea {
    padding: 0.5rem 7rem 0.5rem 1rem;
  }
  .postTweet {
    margin-bottom: 1rem;
  }
  .tweetUserName {
    font-size: 14px;
  }
  .currentDateTime {
    font-size: 12px;
  }
  .tweetContent {
    margin-left: 3rem;
    font-size: 13px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    justify-content: space-between;
    align-items: center;
  }
  .twitter_logo {
    font-size: 2.2rem;
  }
  input {
    padding: 0.3rem 4rem 0.3rem 1rem;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
  }
  .user_header_profile {
    display: flex;
  }
  .myProfileContainer {
    display: none !important;
  }
  .tweetBtn {
    margin-right: 0.5rem;
  }
  .logInBtnContainer {
    width: 23rem;
    height: 15rem;
  }
  .logInBtnContainer h3 {
    font-size: 1.2rem;
  }
  .logInBtnContainer p {
    font-size: 15px;
  }
  .logInBtnContainer button{
    padding: 12px 40px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 576px) {
  header {
    padding: 0.3rem 1.5rem;
  }
  .twitter_logo {
    font-size: 1.7rem;
  }
  input {
    padding: 0.3rem 2.5rem 0.3rem 1rem;
    margin: 0;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 10px;
  }
  .postATweet {
    padding: 1rem 1rem;
  }
  .addTweetsContainer {
    width: 28rem;
  }
  .postTweet textarea {
    width: 15rem;
    height: 1.2rem;
  }
  .postTweet {
    margin-bottom: 0.7rem;
  }
  .addTweet {
    padding: 0.5rem 0.6rem;
    font-size: 10px;
  }
  .tweetUserName {
    font-size: 13px;
  }
  .tweetContent p {
    font-size: 13px;
  }
  .tweetContent {
    margin-left: 2.3rem;
  }
  .logInBtnContainer {
    width: 18rem;
    height: 13rem;
  }
  .logInBtnContainer h3 {
    font-size: 1rem;
  }
  .logInBtnContainer p {
    font-size: 12px;
  }
  .logInBtnContainer button{
    padding: 10px 25px;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 485px) {
  .addTweetsContainer {
    width: 24rem;
  }
  .postTweet textarea {
    width: 11rem;
    height: 1.1rem;
  }
  .postTweet {
    margin-bottom: 0.5rem;
  }
  .tweetUserName {
    font-size: 12px;
  }
  .tweetContent p {
    font-size: 12px;
  }
  .tweetContent {
    margin-left: 2rem;
  }
}
